<appSettings>
  <add key="TwilioSid" value="AC6d098eb3fa5c495f41bf8aecfe9427d9"/>
  <add key="TwilioToken" value="6136e4294a072fed64b34dd894e7ef8c"/>
  <add key="TwilioNumber" value="+14804093847"/>
  <add key="mailAcc" value="azure_effda5dfff7cc4f02272bac490ec3ebb@azure.com"/>
  <add key="mailPass" value="cBM8wG66Zi593qC"/>
  <add key="googleclientId" value="737439679271-8es2jmo1nrsf0eu1vbvbc0p1ooja7dmq.apps.googleusercontent.com" />
  <add key="googleclientSecret" value="zFW91ZN8LBz9dPeydKRvkfSR"/>
  <add key="facebookAppId" value="866846450026624" />
  <add key="facebookSecret" value="f8ccb0ec19091be15f6bc3b88bad5dc5"/>
  <add key="twitterconsumerKey" value="bgXu47xK9cAAa1DMF9rd9Arn9" />
  <add key="twitterconsumerSecret" value="oyvnUrxhgBGdFlI5W1x5uRFjxdVYMLZyMIS36t9ETTRv7yxMOp"/>
  <add key="microsoftId" value="000000004C137610" />
  <add key="microsoftSecret" value="BNc1De2H4ZMnhiOkbSklG-eY3U6wgyEU"/>
  <add key="LinkedInKey" value="78dkx3pouwb0aw" />
  <add key="LinkedInKeySecret" value="H3UI38ULwKutDsJv"/>
</appSettings>