@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Electronic Business Cards</h1>
    <p class="lead">Welcome to your personal digital assistant... TODO add more text ads for app</p>
</div>

<div class="row">

</div>