
.field-validation-error 
{
    font-size:14px;
    display: inline;
    background: #d45252;
	margin-left:8px;
	margin-right:8px;
	padding:2px 4px;
	z-index: 999; 
	position: absolute; 
	content: "\25C0";
	color:white;
    text-wrap:normal;
    width:250px;
    float:right;
}
.field-validation-error::outside {
	content: "\25C0";
	color:#d45252;
	position: absolute;
	top:1px;
	left:-6px;
}
